:root {
  --hover-link-button-color: #2196f3;
  --basic-text-color: #757575;
  --white-text-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}
/* index.html */
body {
  background-color: #ffffff;
  font-family: roboto, sans-serif;
  color: #212121;
}

  .container{
width: 1200px;

margin: 0 auto;
padding: 0 15px;
  }
  h1,
  h2,
  h3,
  p,
  ul{
    margin: 0px;
    padding: 0px;
  }

.page-header{
  background-color: var(--white-text-color);
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #ececec;
}
 .page-header .container{
  display: flex;
   align-items: center;   
  } 
   
.logo {
   text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
.logo-part {
  color: var(--hover-link-button-color);
}

.nav-list {
  display: flex;
   list-style-type: none;
     padding-left: 0;
  
}
.nav-list-con {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  padding-left: 0;
 }
 

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
 }
.nav-li:not(:last-child) {
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--hover-link-button-color);
}

.nav-contact {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-text-color);
}
.contact-li{
  display: flex;
 }
 .contact-li:not(:last-child) {
  margin-right: 50px;
}
.nav-contact:hover,
.nav-contact:focus,
.nav-contact:active {
  color: var(--hover-link-button-color);
}
.mail{
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--basic-text-color);
}
.mail:hover,
.mail:focus,
.mail:active {
  fill: var(--hover-link-button-color)
}

.smartphone {
    width: 10px;
  height: 16px;
margin-right: 10px;
  fill: var(--basic-text-color);
}

.smartphone:hover,
.smartphone:focus,
.smartphone:active {
  fill: var(--hover-link-button-color)
}
.section-hero {
  
   background-color: #2f3032;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bgi.jpg);
 }
  .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
 text-align: center;
  margin-top: 0;
 margin-bottom: 30px;
}
.hero-button {
  
   font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--hover-link-button-color);
   display: block; 
    margin-left: auto;
    margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
}
.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--basic-text-color);
}
.hero-button {
  cursor: pointer;
}
 
.section-benefits{
  padding-top: 94px;
padding-bottom: 94px; 
}
.benefits-list {
  display: flex;
  list-style-type: none;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
 margin-bottom: 10px;
}
.benefits-icon{
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}
.benefits-li:not(:last-child){
margin-right: 30px;
}
.benefits-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}
.job-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.job-section{
  display: flex;
   padding-bottom: 94px;
}
.job-list>li:not(:last-child){
  margin-right: 30px;
}
.job-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.image-job{
  display: block;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
padding-bottom: 94px;
box-shadow: 
0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  list-style-type: none;
  background-color: #f5f4fa;
}
.team-list .team-list-color:not(:last-child){
  margin-right: 30px;
}
.team-list-color {
  background: #ffffff;
  border-radius: 4px;
  box-shadow:
   0px 2px 1px rgba(0, 0, 0, 0.2),
   0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
   margin-bottom: 10px;
}
.team-div{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
  padding-bottom: 16px;
}
.team-link-list{
 list-style:none;
 display: flex;
 justify-content: center;
 gap: 10px;
  
 }
.team-list-item{

 }
.all-team-link{
  display: block;
  width: 44px;
  height: 44px;
  background-color: tomato;
  border-radius: 50%;
}
.team-link{
 
 }
.clients{
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title{
  font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.clients-list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  }
  .clients-item{
    border: 1px solid #afb1b8;
    border-radius: 4px;
  }
  
  .clients-link{
    display: block;
    width: 170px;
    height: 90px;
    /* background: tomato; */
  }
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  }

.footer-list {
  list-style-type: none;
  margin-top: 20px;
}
.footer-list>li:not(:last-child){
  margin-bottom: 9px;
}

.location {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.footer-contact {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
 }

.footer-contact:hover,
.footer-contact:focus,
.footer-contact:active {
  color: var(--hover-link-button-color);
}
/* porfolio */
.section-portfolio{
 padding-top: 94px;
 padding-bottom: 94px;
}
.portfolio-hidden-title, .benefits-title, .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.portfolio-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  }
.portfolio-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
}
.portfolio-button {
  cursor: pointer;
  padding: 6px 22px;
  }
.portfolio-list>.item:not(:last-child){
  margin-right: 8px;
}
.portfolio-all {
  color: var(--white-text-color);
  background-color: var(--hover-link-button-color);
  padding: 6px 25px;
  border-radius: 4px;
  box-shadow:
      0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active{
  color: var(--white-text-color);
  background-color: var(--hover-link-button-color);
  border-radius: 4px;
  box-shadow: 
  0px 2px 2px rgba(0, 0, 0, 0.12),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 3px 1px rgba(0, 0, 0, 0.1);
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list-color { 
  background-color: #ffffff;
  margin-right: 30px;
  margin-bottom: 30px;
 }
 .portfolio-list-color:hover{
  box-shadow: 
  1px 4px 6px rgba(0, 0, 0, 0.16),
  0px 4px 4px rgba(0, 0, 0, 0.6),
  0px 1px 1px rgba(0, 0, 0, 0.12);
 }

.portfolio-list-color:nth-child(3n+3){
  margin-right: 0;
}
.portfolio-list-color:nth-last-child(-n+3){
  margin-bottom: 0;
}
.portfolio-img{
  display: block;
  margin-right: 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}
.portfolio-div{
padding: 20px 24px;
border-left: 1px solid #eeeeee;
border-right: 1px solid #eeeeee; ;
border-bottom: 1px solid #eeeeee;
}
.lab {
  text-transform: uppercase;
}
